# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Quarto
/.quarto/
*_cache/
_freeze/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# R
.Rhistory
.RData
.Rproj.user

**/*.quarto_ipynb
